.cell {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.cell.blank {
  background-color: white;
}

.cell.filled {
  background-color: black;
}

.cell.crossed {
  background-color: red;
}

.cell[col="0"], .cell[col="5"], .cell[col="10"], .cell[col="15"], .cell[col="20"] {
  border-left: 2px solid black;
}